@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gotham";
    src: url("./fonts/GothamBook.ttf");
  }

  @font-face {
    font-family: "IGBold";
    src: url("./assets/fonts/InstagramSans-Bold.ttf");
  }

  @font-face {
    font-family: "IGReg";
    src: url("./assets/fonts/InstagramSans-Regular.ttf");
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#intro {
  animation: Opacity 3s ease 1s forwards;
}

#outro {
  animation: Opacity 2.5s ease 2s forwards;
}

body {
  overflow: hidden;
}

.glow-on-hover {
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffefef,
    #1d0d00,
    hsl(60, 100%, 96%),
    #081b00,
    #ecfffc,
    #000727,
    #f6eeff,
    #290020,
    #ffeaea
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(14px);
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border-radius: 100%;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 100%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
